<div id="cardSelect">
	Select a value from below. You may also add a comment.

	<form>
	 <input type="radio" value="0" name="poker-value" id="poker0"/>	  
	  <label for="poker0">?</label>
	  <input type="radio" value="8" name="poker-value" id="poker1"/>	  
	  <label for="poker1">1</label>
	  <input type="radio" value="2" name="poker-value" id="poker2"/>	  
	  <label for="poker2">2</label>
	  <input type="radio" value="3" name="poker-value" id="poker3"/>	  
	  <label for="poker3">3</label>
	  <input type="radio" value="5" name="poker-value" id="poker5"/>	  
	  <label for="poker5">5</label>
	  <input type="radio" value="8" name="poker-value" id="poker8"/>	  
	  <label for="poker8">8</label>
	  <input type="radio" value="13" name="poker-value" id="poker13"/>	  
	  <label for="poker13">13</label>
	  <input type="radio" value="20" name="poker-value" id="poker20"/>	  
	  <label for="poker20">20</label>
	  <br />
	  <label for="form-comment">Comment/Question</label>
	  <input type="text" id="form-comment"/>
	  <br />
	  <input type="button" value="Submit" id="submit-btn"/>
	</form>
</div>